/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


a {
  color: inherit;
  text-decoration: none;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  color: #333;
  background: #f2f2f2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.content {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
 
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
/* "marginLeft":"12px","marginRight":"60px","fontSize":"20px","color":"black","backgroundColor":"#EBEBDF","fontStyle":"normal","border":"solid","borderColor":"#DDDDCF","padding":"10px 10px","textDecorationLine":"blink","active":"white" */
.dropDown {
  /* margin-left: 12px; */
  /* margin-right: 60px;
  font-size: 20px;
  color: #333;
  background-color: #EBEBDF;
  font-style: normal;
  border: solid;
  border-color: #DDDDCF;
  text-decoration-line: none;
  padding: 10px 10px; */
  margin-bottom: 20px;

}

.dropDown :hover {
  /* color: #ddd; */
  background-color: #E9F3F7;
  /* border: solid; */
  border-radius: 10px;
}
.dropDown :visited {
  /* background-color: #333; */
}
.dropDown :active {
  background-color: #E8EFF2;
}

.dropDown .content {
  font-size: large;
}
/* 
{"marginBottom":"15px","marginLeft":"100px","width":"160px","height":"40px","fontFamily":"sans-serif","fontSize":"20px","fontWeight":"bold","borderRadius":"10px","color":"#467889","border":"none"} */

.connectButton {
}
.connectButton button {
  margin-bottom: 10px;
  margin-left: 100px;
  width: 160px;
  /* width: 160px;
  height: 40px; */
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #467889;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #E9F3F7;
}

.connectButton :hover {
  background-color: #467889;
  color: white;
  font-weight: 50px;
}

/* .connectButtonDrop {

}
.connectButtonBtn {
  
}
.connectButtonContent {

} */


.boxCreate {
  margin: auto;
  /* margin-left: 360px; */
  background-color: white;
  /* height: 200px; */
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  position: static;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: block;
  /* box-shadow: 2px 2px 2px 2px #E7E7E7; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .input {
  width: 20px;
  height: 100px;
  color: #333;
} */
/* .listButton {

} */
.dropbtn {
  background-color: #467889;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 60px;
  padding: 5px 10px;
  margin: 7px;
  border-radius: 5px;
}
/* "border":"solid","width":"80px","padding":"5px 10px","margin":"10px","borderRadius":"5px" */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #E9F3F7}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #E9F3F7;
}

/* {"width":"80px","padding":"5px 10px","margin":"10px","borderRadius":"5px","backgroundColor":"#E9F3F7","border":"none","color":"white"} */

.submitbtn button {
  width: 80px;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #467889;
  border: none;
  color: white;
  height: 40px;
}
.submitbtn :hover {
  background-color: white;
  color: #467889;
  border: solid;
  border-color: #467889;
}
.submitbtnDisabled button {
  width: 80px;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #b3c6cc;
  border: none;
  color: white;
  height: 40px;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #467889;
}

input:focus + .slider {
  box-shadow: 0 0 1px #467889;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.imageMove {

  position: relative;
  animation: mymove 4s infinite;
  /* animation-direction: alternate; */
  /* animation-duration: 3s; */
  animation-fill-mode: forwards;
  animation-iteration-count: 1;


  transform:
  rotateX(51deg)
  rotateZ(43deg);
transform-style: preserve-3d;
border-radius: 32px;
box-shadow:
  1px 1px 0 1px #f9f9fb,
  -1px 0 28px 0 rgba(34, 33, 81, 0.01),
  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
transition:
  .4s ease-in-out transform,
  .4s ease-in-out box-shadow;

}
/* @keyframes mymove {
  from {left: 200px;}
  to {left: 0px;animation-play-state: paused}
} */

.imageMove :hover {
  transform:
  translate3d(0px, -16px, 0px)
  rotateX(51deg)
  rotateZ(43deg);
  box-shadow:
  1px 1px 0 1px #f9f9fb,
  -1px 0 28px 0 rgba(34, 33, 81, 0.01),
  54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}


.coin {
  position: relative;
  animation: coinAnimate 1s infinite;
  height: 250px;
  width: 250px;
  /* animation-direction: alternate; */
  /* animation-duration: 3s; */
  /* animation-fill-mode: forwards; */
  /* animation-iteration-count: 1; */
  animation-direction: alternate-reverse;
}

@keyframes coinAnimate {
  from {left: 0px; transform: rotateY(40deg);}
  to {left: 0px; transform: rotateY(50deg);}
}

/* #myCoin {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(180deg);
} */

.logoHover {
  transform:
  perspective(800px)
  rotateY(-15deg) scale(0.9)
  rotateX(10deg);
  filter: blur(2px);
  opacity: 0.8;
  transition: 0.6s ease all;

}

.logoHover :hover {
  transform:
  perspective(800px)
  rotateY(10deg)
  translateY(-50px)
  rotateX(10deg)
  scale(1.1);
  filter: blur(0);
  opacity: 1;
}

.coinHover {
  transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
  /* filter: blur(2px); */
  opacity: 0.8;
  transition: 0.6s ease all;

}

.coinHover :hover {
  transform:
  perspective(800px)
  rotateY(-15deg)
  translateY(-50px)
  rotateX(10deg)
  scale(1);
/* filter: blur(0); */
opacity: 1;
}
